body {
    background: #f7c9c9;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
